body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

div {
    margin-bottom: 20px;
    text-align: center;
}

label {
    margin-right: 10px;
}

select {
    padding: 5px;
}

#dataDisplay p {
    text-align: center;
    font-size: 1.2em;
}
