body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.UnitData {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center; /* Added for alignment */
  padding: 20px; /* Ensure consistent padding */
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.UnitSelector {
  width: 20%;
  height: calc(100vh);
  overflow-y: auto;
  background-color: darkgray;
  border-right: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  flex-grow: 1;
}

.Calculator {
  width: 60%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  flex-direction: column;
  flex-grow: 3;
}

.Filler{
  width: 20%;
  overflow-y: auto;
  height: calc(100vh);
  background-color: darkgray;
  border-right: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  flex-grow: 1;
}

.dataDisplay{
  width: 100%;
  background-color: #f4f4f4;
  padding-left: 10%;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.UnitData {
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

#sidebar {
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#dataDisplay p {
  text-align: left;
  font-size: 1em;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

#dataDisplay p img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

#imageSelector {
  margin-top: 20px;
}

#tabList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

#tabList li {
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

#imageDisplay {
  margin-top: 0px;
}

#imageDisplay img {
  max-width: 100%;
  min-width: 300px;
  max-height: 300px;
}

#sidebar h3 {
  margin-bottom: 10px;
}

#selectedList,
#dataSummary {
  padding: 10px;
}

#selectedList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

#selectedList li button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 5px;
}

#sidebar button {
  padding: 8px 16px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #eee;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sidebar button:hover {
  background-color: #ddd;
}

#sidebar button:active {
  background-color: #ccc;
}

#selectedList li button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 5px;
}

#selectedList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  transition: background-color 0.2s;
}

#selectedList li:hover {
  background-color: #e0e0e0;
}

.UnitSelector img {
  max-width: 50px;
  margin-right: 10px;
}

.collapsible {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: #eee;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.search-bar {
  margin-left: 20%;
  width: 20%;
  flex-grow: 1;
  z-index: 1; /* Ensures the search bar is in front */
  position: relative;
}

#searchResults .search-result-item {
  padding: 10px;
  border: 1px solid #000000;
  cursor: pointer;
}

#results {
  position: absolute;
  z-index: 0; /* Ensures results are below the search bar */
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid #ccc;
}

#searchResult {
  
  border: 1px solid #282828;
}