body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

div {
    margin-bottom: 20px;
    text-align: center;
}

label {
    margin-right: 10px;
}

select {
    padding: 5px;
}

#dataDisplay p {
    text-align: center;
    font-size: 1.2em;
}

#imageSelector {
    text-align: center;
    margin-top: 20px;
}

#tabList {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#tabList li {
    margin: 0 10px;
    cursor: pointer;
}

#imageDisplay {
    margin-top: 20px;
}

#imageDisplay img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

#dataDisplay img
{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
}